.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.logo img {
  width: 36px;
  margin-right: 8px;
}

.body {
  background: #fff;
  border-radius: 4px;
  padding: 12px;
}

.hostname {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 12px;
}

.spacer {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin: 0 0 12px;
}

.row {
  margin: 0 0 12px;
}

.row:last-child {
  margin-bottom: 0;
}

.subRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 24px;
}

.stat {
  font-weight: 600;
  color: #e40e0b;
}

.options {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  user-select: none;
  outline: none;
  border: 0 none;
  border-radius: 4px;
  background: transparent;
  color: #888;
}

.button:last-child {
  padding-right: 0;
}

.button svg {
  width: 14px;
  height: 14px;
}

.button:hover {
  color: #2b2b2b;
}

.button:active {
  color: #000;
}

.toggle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  user-select: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;

  border: 1px solid #3181ce;
  background: #3181ce;
  color: #fff;
}

.toggle:not(.active):hover {
  border: 1px solid #2b6cb0;
  background: #2b6cb0;
}

.toggle:not(.active):active {
  border: 1px solid #2c5282;
  background: #2c5282;
}

.toggle svg {
  margin-left: 6px;
}

.active {
  border: 1px solid #3181ce;
  background: #fff;
  color: #3181ce;
}

.active:hover {
  border: 1px solid #2b6cb0;
  background: #fff;
  color: #2b6cb0;
}

.active:active {
  border: 1px solid #2c5282;
  background: #fff;
  color: #2c5282;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.ban {
  font-weight: 600;
  color: #e40e0b;
  word-break: break-all;
}
