.internet-diet-selected {
  cursor: pointer !important;
  filter: blur(16px) !important;
  transition: filter 200ms ease-out !important;
}

.internet-diet-selected > * {
  pointer-events: none;
}

/* seamless.com: disable ratings popup */
.internet-diet-selected [data-testid='content-ratings'],
.internet-diet-selected .content-ratings {
  pointer-events: none;
}

.internet-diet-blocked {
  pointer-events: none !important;
  user-select: none !important;
  filter: blur(16px) !important;
}

.internet-diet-block-effect-hide .internet-diet-blocked {
  display: none !important;
}
