.internet-diet-selected {
  background: repeating-linear-gradient(
    135deg,
    rgba(225, 225, 226, 0.3),
    rgba(229, 229, 229, 0.3) 10px,
    rgba(173, 173, 173, 0.3) 10px,
    rgba(172, 172, 172, 0.3) 20px
  );
  box-shadow: inset 0px 0px 0px 1px #d7d7d7;
  cursor: pointer;
}

.internet-diet-selected img {
  filter: blur(16px);
}

.internet-diet-blocked {
  pointer-events: none !important;
  user-select: none !important;
  filter: blur(16px) !important;
}
